<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добавить игру</h1>
<form method="get" action="/home">
    <input type="submit" value="Home">
</form>
<br/><br/>
<form th:action="@{addGame}"
      th:object="${newGame}" method="POST">
    Name:
    <label>
        <input type="text" th:field="*{name}" />
    </label>
    <br/>
    Creation Date:
    <label>
        <input type="date" th:field="*{creationDate}" />
    </label>
    <br/><br/>
    <input type="submit" value="Добавить" />
</form>
</body>
</html>